<h2>chirag</h2>
<p>Web Developer</p>
 <table cellspacing="10">
    <tr>
      <td>
        <img alt="image" src="./assets/images/chirag.jpeg"  height="220px">
      </td>
      <td>  <h1> Chirag Mudgil </h1>
        <p> Developer by profession | Web Developer </p></td>
    </tr>
  </table>
      <hr>
        <h3>Previous Works Done</h3>
        <ul>
          <li>Created an mass Database Project in 2019</li>
          <li>Worked in more than 30 project in my course of WEB</li>
          <li>ML intern at microsoft gold partner company</li>
        </ul>
        <hr>
        <h3> Skills </h3><br>
          <table>
                <thead>
                  <th>skills</th>
           
                </thead>
                <tbody>
                  <tr>
                    <td>web development</td>
           
                  </tr>
                  <tr>
                    <td>C++</td>
        
                  </tr>
                </tbody>
          </table>
          <hr>
          <h2>if you have any doubts.</h2>
          <a href="#">reach me out</a>